@font-face {
    font-family: 'icomoon';
    src: url('icomoon.eot?l3xw38');
    src: url('icomoon.eot?l3xw38#iefix') format('embedded-opentype'), url('icomoon.ttf?l3xw38') format('truetype'), url('icomoon.woff?l3xw38') format('woff'), url('icomoon.svg?l3xw38#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cup:before {
    content: "\e900";
}

.icon-minus:before {
    content: "\e901";
}

.icon-codepen:before {
    content: "\eae8";
}